@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var authenticateResult = await HttpContext.AuthenticateAsync();
}

@using Microsoft.AspNetCore.Authentication

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @if (authenticateResult.Succeeded)
    {
        @foreach (var prop in (authenticateResult.Properties.Items))
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    }
</dl>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
